@mixin shadow{
  box-shadow: 0 4px 0 rgba(128, 128, 128, 0.75);
}
@mixin mediaSmall{
  height:1.5em;
  width:1.5em;
  text-align: center;
  float:left;
  display:inline;
  margin-right:1%;
  padding-top:1%;
}
