@import'../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
$visual-grid: true;
@import'../bower_components/neat/app/assets/stylesheets/_neat.scss';

@mixin shadow{
  box-shadow: 0 4px 0 rgba(128, 128, 128, 0.75);
}

@mixin mediaSmall{
  height:1.5em;
  width:1.5em;
  text-align: center;
  float:left;
  display:inline;
  margin-right:1%;
  padding-top:1%;
}


body {
  background: url(../images/bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

body::before {
  margin:0;
  background: rgb(0, 0, 0);
  background-size:contain;
  z-index:-1;
  padding:50%;
}

    .wrapper{
      @include outer-container(55%);
      padding:2% 0 2% 0;
    }
//Header Style

    .mediaButtons{
      width:100%;
      float:right;
      color:white;

      span{
        @include span-columns(2);
        @include shift(6);
        margin-top: 1em;

        p{
          font-size:2em;
          margin: 0;
          position: relative;
          bottom: 0.9em;
          left: 3em;
        }
      }

      .dots{
        padding-top: 13%;
        margin:0;
        list-style: none;
        line-height: 0.2em;
        font-size:2em;
        float:right;
        color:white;
        }

      .mediaButtonArea{
        width:2em;
        height:2em;
        @include span-columns(4);
        margin-right:0;
        float:right;


        div{
          float:right;
          display:inline-block;
          height: 3.2em;
          width: 3.2em;
          margin-left:0.3em;
        }

        .facebook{
          background:#445897;
          padding: 3% 0% 0 6%;
          @include shadow;

        }
        .rss{
          background:#CC8F32;
          padding: 3% 0% 0 5%;
          @include shadow;
        }
        .twitter{
          background:#6A8DC7;
          padding: 3% 0% 0 4%;
          @include shadow;
        }
        .youtube{
          background:#AE382A;
          padding: 3% 0% 0 4%;
          @include shadow;
        }
      }

    }

    nav{
      margin:0;
      @include span-columns(12);
    }
    button{
      height: 2em;
      border:none;
      color:white;
      background:#B4272D;
      margin-bottom:1em;
      @include shadow;
      @include span-columns(3);
    }

    .headerMain{
      padding:1%;
      margin:0;
      height:19em;
      background:white;
      @include shadow;
      @include span-columns(12);

      .headerPhoto{
        background-image: url(../images/top-image.png);
        height:100%;
        width:100%;
        background-repeat: no-repeat;
        background-size: 69em 36em;
        background-position: 0em -6em;
      }

      .headerFilter{
        background-image: url(../images/grid.png);
        background-size: cover;
        opacity:0.3;
        width:100%;
        height:100%;
      }
      .headerLogo{
        background-image:url(../images/peralta-logo.png);
        background-repeat: no-repeat;
        background-size:contain;
        height: 12em;
        width: 25em;
        bottom: 15em;
        position: relative;
        left: 2em;
      }
    }

    .circleNav{
      padding:1.5em 0 1.5em 0;
      @include span-columns(10);
      @include shift(5.5);

      input[type="radio"]:checked::before {
        content: "";
        display: block;
        position: relative;
        text-align: center;
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        background: red;
        top: 28%;
        left: 23.5%;
        }
    }


    main{
      @include outer-container;

      article{
        @include span-columns(12);
        margin-right:0;

      section{
        padding: 0 2%;
        background:white;
        @include shadow;
        @include span-columns(4);
        margin-bottom:2%;

      h6{
        color:#838383;
        line-height: 2em;
      }

      h5{
        color:#C7C7C7;
      }

      h4{
        text-align: center;
        color: #AF262D;
        font-size: 0.75em;
      }

      }
      }
    }

    article section:nth-child(3){
      margin-right:0;
    }

//Skater profile section

  .skateProfile{
    @include span-columns(12);
     div:nth-child(1){
        background-image: url(../images/sk8er-4.png);
        position:relative;
        background-size: 26.5em 13em;
        background-position: -8em 0em;
        background-repeat: no-repeat;
        height:12em;
        color:white;
        text-align: center;
        padding-top:4%;
        font-size:1.1em;
        @include span-columns(4);
        margin-bottom:1em;
        border:4px solid white;
        @include shadow;
        transition:background-size 1.5s, background-position 1.5s;

        &:hover{
          background-size: 18em 12em;
          background-position: 0em 0em;
          }
    }

      div:nth-child(2){
        background-image: url(../images/sk8er-3.png);
        background-size: 25em 13em;
        background-repeat: no-repeat;
        height:12em;
        color:white;
        text-align: center;
        padding-top:4%;
        font-size:1.1em;
        @include span-columns(4);
        border:4px solid white;
        @include shadow;
        transition:background-size 1.5s;

        &:hover{
          background-size: 18em 12em;
          }
    }

      div:nth-child(3){
        background-image: url(../images/sk8er-2.png);
        background-size: 35em 25em;
        background-position: -15em 0em;
        background-repeat: no-repeat;
        color:white;
        text-align: center;
        padding-top:15%;
        font-size:1.1em;
        @include span-columns(4);
        float:right;
        margin-right:0;
        height:25em;
        border:4px solid white;
        @include shadow;
        transition:background-size 1.5s, background-position 1.5s;

        &:hover{
          background-size: 29em 25em;
          background-position: -10em 0em;
          }
        }

      div:nth-child(4){
        background-image: url(../images/sk8er-1.png);
        background-size: 42em 18.5em;
        background-position: 0em -4.5em;
        background-repeat: no-repeat;
        height:12em;
        color:white;
        text-align: center;
        padding-top:6%;
        font-size:1.1em;
        @include span-columns(8);
        margin:0 0 2% 0;
        border:4px solid white;
        @include shadow;
        transition:background-size 1.5s, background-position 1.5s;

        &:hover{
          background-size: 42em 12.5em;
          background-position: 0em 0em;
            }
    }
}

//Side Arrow
.skateSign{
  position: absolute;
  left: 4%;
  top: 98%;
  transition: hover 1s;

  &:hover{
    left:5%;
  }

  div:nth-child(1){
    background:#B4292E;
    width:11em;
    height:4.8em;
    float:left;
    color:white;
    font-size:1.3em;
    padding: 14% 0 0 10%;
  }

  div:nth-child(2){
    width: 0;
    height: 0;
    border-top: 3.15em solid transparent;
    border-bottom: 3.15em solid transparent;
    border-left: 3em solid #B4292E;;
    float:left;
  }
}

//Skateboard Selection
  .skateboards{
    @include shadow;
    background:white;
    @include span-columns(12);
    margin:0 0 2% 0;

    img{

      width: 7%;
      height: 18em;
      float:left;
      padding: 2% 0 2% 0;
      margin-left:2.7%;
      transition: border 0.5, border-radius 0.5, padding 0.5s;

      &:hover{
        padding:0 0 0 0;
        border:3px solid navy;
        border-radius: 1em;
      }
    }
  }

  //Footer
  footer{
    @include shadow;
    background:white;
    @include outer-container;
  }

  .columnOne{
    @include span-columns(6);
    line-height: 119%;
    padding-left:3%;
    h5{
      color:#828282;
    }
  }

  .smallMedia{

    div:nth-child(1){
      background:#4F4F4F;
      @include mediaSmall;

      i{
        color:white;
        opacity:0.4;
      }
    }

    div:nth-child(2){
      background:#AEAEAE;
      @include mediaSmall;

      i{
        color:white;
        opacity:0.4;
      }
    }

    div:nth-child(3){
      background:#7B7B7B;
      @include mediaSmall;

      i{
        color:white;
        opacity:0.4;
      }
    }

    div:nth-child(4){
      background:#767676;
      @include mediaSmall;

      i{
        color:white;
        opacity:0.4;
      }
    }
  }

  .columnTwo{
    @include span-columns(6);
    padding:1.5% 4% 0 0;

    input:nth-child(1){
      @include span-columns(12);
      margin-bottom:2%;
      border-top:3px solid #B2B2B2;
      border-left:3px solid #B2B2B2;
    }

    input:nth-child(2){
      @include span-columns(12);
      margin-bottom:2%;
      border-top:3px solid #B2B2B2;
      border-left:3px solid #B2B2B2;
    }
    textarea{
      border-top:3px solid #B2B2B2;
      border-left:3px solid #B2B2B2;
      margin-bottom:1.5%;
    }

    button{
      float:right;
      width:65%;
    }
  }
