html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }

body {
  background: url(../images/bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; }

body::before {
  margin: 0;
  background: rgba(39, 36, 36, 0.89);
  background-size: contain;
  z-index: -1;
  padding: 50%; }

.wrapper {
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

.mediaButtons {
  width: 100%;
  float: right;
  color: white; }
  .mediaButtons span {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    margin-left: 51.17883%;
    margin-top: 1em; }
    .mediaButtons span:last-child {
      margin-right: 0; }
    .mediaButtons span p {
      font-size: 2em;
      margin: 0;
      position: relative;
      bottom: 0.9em;
      left: 3em; }
  .mediaButtons .dots {
    padding-top: 13%;
    margin: 0;
    list-style: none;
    line-height: 0.2em;
    font-size: 2em;
    float: right;
    color: white; }
  .mediaButtons .mediaButtonArea {
    width: 2em;
    height: 2em;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0;
    float: right; }
    .mediaButtons .mediaButtonArea:last-child {
      margin-right: 0; }
    .mediaButtons .mediaButtonArea div {
      float: right;
      display: inline-block;
      height: 3.2em;
      width: 3.2em;
      margin-left: 0.3em; }
    .mediaButtons .mediaButtonArea .facebook {
      background: #445897;
      padding: 3% 0% 0 6%;
      box-shadow: 0 4px 0 rgba(128, 128, 128, 0.75); }
    .mediaButtons .mediaButtonArea .rss {
      background: #CC8F32;
      padding: 3% 0% 0 5%;
      box-shadow: 0 4px 0 rgba(128, 128, 128, 0.75); }
    .mediaButtons .mediaButtonArea .twitter {
      background: #6A8DC7;
      padding: 3% 0% 0 4%;
      box-shadow: 0 4px 0 rgba(128, 128, 128, 0.75); }
    .mediaButtons .mediaButtonArea .youtube {
      background: #AE382A;
      padding: 3% 0% 0 4%;
      box-shadow: 0 4px 0 rgba(128, 128, 128, 0.75); }

nav {
  margin: 0;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  nav:last-child {
    margin-right: 0; }

button {
  height: 2em;
  border: none;
  color: white;
  background: #B4272D;
  margin-bottom: 1em;
  box-shadow: 0 4px 0 rgba(128, 128, 128, 0.75);
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  button:last-child {
    margin-right: 0; }

.headerMain {
  padding: 1%;
  margin: 0;
  height: 19em;
  background: white;
  box-shadow: 0 4px 0 rgba(128, 128, 128, 0.75);
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .headerMain:last-child {
    margin-right: 0; }
  .headerMain .headerPhoto {
    background-image: url(../images/top-image.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 69em 36em;
    background-position: 0em -6em; }
  .headerMain .headerFilter {
    background-image: url(../images/grid.png);
    background-size: cover;
    opacity: 0.3;
    width: 100%;
    height: 100%; }
  .headerMain .headerLogo {
    background-image: url(../images/peralta-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 12em;
    width: 25em;
    bottom: 15em;
    position: relative;
    left: 2em; }

.circleNav {
  padding: 1.5em 0 1.5em 0;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 46.91392%; }
  .circleNav:last-child {
    margin-right: 0; }
  .circleNav input[type="radio"]:checked::before {
    content: "";
    display: block;
    position: relative;
    text-align: center;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background: red;
    top: 28%;
    left: 23.5%; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  main::after {
    clear: both;
    content: "";
    display: table; }
  main article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0; }
    main article:last-child {
      margin-right: 0; }
    main article section {
      padding: 0 2%;
      background: white;
      box-shadow: 0 4px 0 rgba(128, 128, 128, 0.75);
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-bottom: 2%; }
      main article section:last-child {
        margin-right: 0; }
      main article section h6 {
        color: #838383;
        line-height: 2em; }
      main article section h5 {
        color: #C7C7C7; }
      main article section h4 {
        text-align: center;
        color: #AF262D;
        font-size: 0.75em; }

article section:nth-child(3) {
  margin-right: 0; }

.skateProfile {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .skateProfile:last-child {
    margin-right: 0; }
  .skateProfile div:nth-child(1) {
    background-image: url(../images/sk8er-4.png);
    position: relative;
    background-size: 26.5em 13em;
    background-position: -8em 0em;
    background-repeat: no-repeat;
    height: 12em;
    color: white;
    text-align: center;
    padding-top: 4%;
    font-size: 1.1em;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-bottom: 1em;
    border: 4px solid white;
    box-shadow: 0 4px 0 rgba(128, 128, 128, 0.75);
    transition: background-size 1.5s, background-position 1.5s; }
    .skateProfile div:nth-child(1):last-child {
      margin-right: 0; }
    .skateProfile div:nth-child(1):hover {
      background-size: 18em 12em;
      background-position: 0em 0em; }
  .skateProfile div:nth-child(2) {
    background-image: url(../images/sk8er-3.png);
    background-size: 25em 13em;
    background-repeat: no-repeat;
    height: 12em;
    color: white;
    text-align: center;
    padding-top: 4%;
    font-size: 1.1em;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    border: 4px solid white;
    box-shadow: 0 4px 0 rgba(128, 128, 128, 0.75);
    transition: background-size 1.5s; }
    .skateProfile div:nth-child(2):last-child {
      margin-right: 0; }
    .skateProfile div:nth-child(2):hover {
      background-size: 18em 12em; }
  .skateProfile div:nth-child(3) {
    background-image: url(../images/sk8er-2.png);
    background-size: 35em 25em;
    background-position: -15em 0em;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 15%;
    font-size: 1.1em;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    float: right;
    margin-right: 0;
    height: 25em;
    border: 4px solid white;
    box-shadow: 0 4px 0 rgba(128, 128, 128, 0.75);
    transition: background-size 1.5s, background-position 1.5s; }
    .skateProfile div:nth-child(3):last-child {
      margin-right: 0; }
    .skateProfile div:nth-child(3):hover {
      background-size: 29em 25em;
      background-position: -10em 0em; }
  .skateProfile div:nth-child(4) {
    background-image: url(../images/sk8er-1.png);
    background-size: 42em 18.5em;
    background-position: 0em -4.5em;
    background-repeat: no-repeat;
    height: 12em;
    color: white;
    text-align: center;
    padding-top: 6%;
    font-size: 1.1em;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin: 0 0 2% 0;
    border: 4px solid white;
    box-shadow: 0 4px 0 rgba(128, 128, 128, 0.75);
    transition: background-size 1.5s, background-position 1.5s; }
    .skateProfile div:nth-child(4):last-child {
      margin-right: 0; }
    .skateProfile div:nth-child(4):hover {
      background-size: 42em 12.5em;
      background-position: 0em 0em; }

.skateSign {
  position: absolute;
  left: 4%;
  top: 98%;
  transition: hover 1s; }
  .skateSign:hover {
    left: 5%; }
  .skateSign div:nth-child(1) {
    background: #B4292E;
    width: 11em;
    height: 4.8em;
    float: left;
    color: white;
    font-size: 1.3em;
    padding: 14% 0 0 10%; }
  .skateSign div:nth-child(2) {
    width: 0;
    height: 0;
    border-top: 3.15em solid transparent;
    border-bottom: 3.15em solid transparent;
    border-left: 3em solid #B4292E;
    float: left; }

.skateboards {
  box-shadow: 0 4px 0 rgba(128, 128, 128, 0.75);
  background: white;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0; }
  .skateboards:last-child {
    margin-right: 0; }
  .skateboards img {
    width: 9.55%;
    transition: border 0.5, border-radius 0.5; }
    .skateboards img:hover {
      border: 3px solid navy;
      border-radius: 1em; }
