@import'../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
$visual-grid: true;
@import'../bower_components/neat/app/assets/stylesheets/_neat.scss';

@mixin shadow{
  box-shadow: 0 4px 0 rgba(128, 128, 128, 0.75);
}


body {
  background: url(../images/bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

body::before {
  margin:0;
  background: rgba(39, 36, 36, 0.89);
  background-size:contain;
  z-index:-1;
  padding:50%;
}

    .wrapper{
      @include outer-container(55%);
    }
//Header Style

    .mediaButtons{
      width:100%;
      float:right;
      color:white;

      span{
        @include span-columns(2);
        @include shift(6);
        margin-top: 1em;

        p{
          font-size:2em;
          margin: 0;
          position: relative;
          bottom: 0.9em;
          left: 3em;
        }
      }

      .dots{
        padding-top: 13%;
        margin:0;
        list-style: none;
        line-height: 0.2em;
        font-size:2em;
        float:right;
        color:white;
        }

      .mediaButtonArea{
        width:2em;
        height:2em;
        @include span-columns(4);
        margin-right:0;
        float:right;


        div{
          float:right;
          display:inline-block;
          height: 3.2em;
          width: 3.2em;
          margin-left:0.3em;
        }

        .facebook{
          background:#445897;
          padding: 3% 0% 0 6%;
          @include shadow;

        }
        .rss{
          background:#CC8F32;
          padding: 3% 0% 0 5%;
          @include shadow;
        }
        .twitter{
          background:#6A8DC7;
          padding: 3% 0% 0 4%;
          @include shadow;
        }
        .youtube{
          background:#AE382A;
          padding: 3% 0% 0 4%;
          @include shadow;
        }
      }

    }

    nav{
      margin:0;
      @include span-columns(12);
    }
    button{
      height: 2em;
      border:none;
      color:white;
      background:#B4272D;
      margin-bottom:1em;
      @include shadow;
      @include span-columns(3);
    }

    .headerMain{
      padding:1%;
      margin:0;
      height:19em;
      background:white;
      @include shadow;
      @include span-columns(12);

      .headerPhoto{
        background-image: url(../images/top-image.png);
        height:100%;
        width:100%;
        background-repeat: no-repeat;
        background-size: 69em 36em;
        background-position: 0em -6em;
      }

      .headerFilter{
        background-image: url(../images/grid.png);
        background-size: cover;
        opacity:0.3;
        width:100%;
        height:100%;
      }
      .headerLogo{
        background-image:url(../images/peralta-logo.png);
        background-repeat: no-repeat;
        background-size:contain;
        height: 12em;
        width: 25em;
        bottom: 15em;
        position: relative;
        left: 2em;
      }
    }

    .circleNav{
      padding:1.5em 0 1.5em 0;
      @include span-columns(10);
      @include shift(5.5);

      input{
        background:white;
      }

      input[type="radio"]:checked::before {
        content: "";
        display: block;
        position: relative;
        text-align: center;
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        background: red;
        top: 28%;
        left: 23.5%;

        input{
        }
        }
    }


    main{
      @include outer-container;

      article{
        @include span-columns(12);
        margin-right:0;

      section{
        padding: 0 2%;
        background:white;
        @include shadow;
        @include span-columns(4);

      h6{
        color:#838383;
        line-height: 2em;
      }

      h5{
        color:#C7C7C7;
      }

      h4{
        text-align: center;
        color: #AF262D;
        font-size: 0.75em;
      }
      .skateProfile{
        @include span-columns(12);
      }

      }
      }
    }

    article section:nth-child(3){
      margin-right:0;
    }
